*.v.d
*.v.tex
.*.aux
*.aux
*.vo
*.glob
.coq-native/
/coqdoc.sty
/html/
/Makefile.coq
/Book.aux
/Book.bbl
/Book.blg
/Book.idx
/Book.ilg
/Book.ind
/Book.log
/Book.out
/Book.pdf
/Book.toc
/Theory/Metacategory/ObjectsArrows
/Makefile.coq.conf
