*.aux
*.glob
*.v.d
*.v.tex
*.v.timing
*.vio
*.vo
*.vok
*.vos
.*.aux
.coq-native/
.lia.cache
.lra.cache
.nia.cache
.nra.cache
/.Makefile.d
/.Makefile.coq.d
/.coqdeps.d
/Book.aux
/Book.bbl
/Book.blg
/Book.idx
/Book.ilg
/Book.ind
/Book.log
/Book.out
/Book.pdf
/Book.toc
/Makefile.coq
/Makefile.coq.conf
/Theory/Metacategory/ObjectsArrows
/coqdoc.sty
/html/
log_*.txt
/build.log
